<h2>Розклад уроків
  <small>(скачати <a href="/assets/schedule/schedule.pdf" download>pdf</a>)</small>
</h2>

<div class="flex">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading">Понеділок</div>
    <div class="panel-body">
      <ol>
        <li><a routerLink="/lessons/english" title="Домашні завдання">Англійська мова</a></li>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Навчання грамоти (читання)</a></li>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Навчання грамоти (письмо)</a></li>
        <li>Фізична культура</li>
        <li>Музичне (образотворче) мистецтво</li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-primary">
    <div class="panel-heading">Вівторок</div>
    <div class="panel-body">
      <ol>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Навчання грамоти (читання)</a></li>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Математика</a></li>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Навчання грамоти (письмо)</a></li>
        <li>Природознавство</li>
        <li><a routerLink="/lessons/english" title="Домашні завдання">Англійська мова</a></li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-primary">
    <div class="panel-heading">Середа</div>
    <div class="panel-body">
      <ol>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Навчання грамоти (читання)</a></li>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Математика</a></li>
        <li>Хореографія</li>
        <li>Природознавство</li>
        <li>Основи здоров'я</li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-primary">
    <div class="panel-heading">Четвер</div>
    <div class="panel-body">
      <ol>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Математика</a></li>
        <li><a routerLink="/lessons/english" title="Домашні завдання">Англійська мова</a></li>
        <li>Фізична культура</li>
        <li>Трудове навчання</li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-primary">
    <div class="panel-heading">П'ятниця</div>
    <div class="panel-body">
      <ol>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Навчання грамоти (читання)</a></li>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Математика</a></li>
        <li><a routerLink="/lessons/read-write-math" title="Домашні завдання">Навчання грамоти (письмо)</a></li>
        <li>Інформатика</li>        
      </ol>
    </div>
  </div>
</div>


<h2>Розклад уроків на другу половину дня</h2>
<div class="flex">
  <div class="panel panel-default panel-success">
    <div class="panel-heading">Понеділок</div>
    <div class="panel-body">
      <ol>
        <li>Англійська мова 15:10 - 15:40 (30хв)</li>
        <li>Театр 16:20 - 17:20 (60хв)</li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-success">
    <div class="panel-heading">Вівторок</div>
    <div class="panel-body">
      <ol>
        <li>Психологія 15:10 - 15:50 (40хв)</li>
        <li>Хореографія 16:10 - 16:50 (40хв)</li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-success">
    <div class="panel-heading">Середа</div>
    <div class="panel-body">
      <ol>
        <li>Англійськаська мова 15:45 - 16:15 (30хв)</li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-success">
    <div class="panel-heading">Четвер</div>
    <div class="panel-body">
      <ol>
        <li>Театр 15:10 - 16:10 (60хв)</li>
        <li>Хореографія 17:20 - 18:00 (40хв)</li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default panel-success">
    <div class="panel-heading">П'ятниця</div>
    <div class="panel-body">
      <ol>
      </ol>
    </div>
  </div>
</div>

<h2>Розклад дзвінків</h2>

<div class="flex2">
  <div class="panel panel-default panel-warning">
    <div class="panel-heading">Понеділок - П'ятниця</div>
    <div class="panel-body">
      <ol>
        <li>08:30 - 09:05 (35хв)<br>Перерва - 15хв</li>
        <li>09:20 - 09:55 (35хв)<br>Перерва - 30хв</li>
        <li>10:25 - 11:00 (35хв)<br>Перерва - 15хв</li>
        <li>11:15 - 11:50 (35хв)<br>Перерва - 15хв</li>
        <li>12:05 - 12:40 (35хв)</li>
      </ol>
    </div>
  </div>
</div>

<div>

</div>
