<h2>Новини</h2>

<div class="media">
    <div class="media-left">
      <img class="media-object news-image" src="/assets/news-images/0009.jpg" alt="...">
    </div>
    <div class="media-body">
      <h4 class="media-heading">29.11.20117</h4>
        Увага! Змінено розклад уроків.
    </div>
  </div>

<div class="media">
  <div class="media-left">
    <img class="media-object news-image" src="/assets/news-images/0008.jpg" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading">22.10.20117</h4>
      Розпочато викладання завдань по читанню, письму та математиці у розділі "Розклад Уроків".
  </div>
</div>

<div>
    <img style="width:100%" src="/assets/news-images/0007.jpg" alt="...">
</div>

<div class="media">
  <div class="media-left">
    <img class="media-object news-image" src="/assets/news-images/0006.png" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading">18.09.20117</h4>
      Змінився розклад уроків на вівторок та четвер. Добавлена можливість завантажити розклад уроків у форматі pdf. Добавлений архів з аудіозаписами по англійській мові в форматі mp3.
  </div>
</div>

<div class="media">
  <div class="media-left">
    <img class="media-object news-image" src="/assets/news-images/0005.jpg" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading">17.09.20117</h4>
    Добавлений для скачування розклад уроків з часом. Добавлені для скачування домашні завдання з англійської мови.
  </div>
</div>

<div class="media">
  <div class="media-left">
    <img class="media-object news-image" src="/assets/news-images/0004.jpg" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading">11.09.20117</h4>
    Обновився розклад уроків. Добавлений розклад уроків на другу половину дня. Добавлений розклад дзвінків.
  </div>
</div>


<div class="media">
  <div class="media-left">
    <img class="media-object news-image" src="/assets/news-images/0003.jpg" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading">05.09.20117</h4>
    Добавлений розклад уроків на всі дні тижня.
  </div>
</div>


<div class="media">
  <div class="media-left">
    <img class="media-object news-image" src="/assets/news-images/0002.jpg" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading">04.09.20117</h4>
    Добавлений розклад уроків на вівторок та декілька фото зі свята першого дзвоника.
    <br> Заняття з хореографії 5 вересня відбудеться о 16:10.
  </div>
</div>

<div class="media">
  <div class="media-left">
    <img class="media-object news-image" src="/assets/news-images/0001.jpg" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading">01.09.2017</h4>
    Відбулась перша зустріч з вчителями. Свято першого дзвоника, лінійка, народження класу та похід у Космікс.
    <br>Добавлений розклад уроків на понеділок.
  </div>
</div>
